<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              class="form-control"
              ngModel
              required
            />
          </div>
          <button
            class="btn btn-default"
            type="button"
            (click)="suggestUserName()"
          >
            Suggest an Username
          </button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              ngModel
              email
              required
              #email="ngModel"
            />
            <p class="help-block" *ngIf="email.invalid && email.touched">
              Please enter a valid Email.
            </p>
          </div>
        </div>
        <p class="help-block" *ngIf="userData.invalid && userData.touched">
          User Data is invalid!
        </p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            name="secret"
            class="form-control"
            [ngModel]="defaultQuestion"
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            name="answer"
            class="form-control"
            rows="3"
            [(ngModel)]="answer"
          ></textarea>
        </div>
        <p>Answer: {{ answer }}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              name="gender"
              [value]="gender"
              ngModel
              required
            />{{ gender }}
          </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
          Submit
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{ user.username }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Question: {{ user.question }}</p>
      <p>Answer: {{ user.answer }}</p>
      <p>Gender: {{ user.gender }}</p>
    </div>
  </div>
</div>
